body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #443850;
  display: flex;
  justify-content: center;
  align-content: center;
}
#__next {
  width: 100%;
}
.wrapper { position: relative; }
.cake {
  position: absolute;
  top: 0;
}
.layer {
  position: absolute;
  margin: 0 auto;
  width: 300px;
  border-radius: 150px / 75px;
  height: 200px;
}
.layer-1 {
  top: 0;
  z-index: 10;
  background-color: #bcaa99;
}
.layer-2 {
  top: calc(50px);
  z-index: 9;
  background-color: #f2f7f2;
}
.layer-3 {
  top: calc(100px);
  z-index: 8;
  background-color: #bcaa99;
}
.layer-4 {
  top: calc(150px);
  z-index: 7;
  background-color: #8e5572;
}
.layer-top {
  top: 0;
  z-index: 12;
  background: #f2f7f2;
  height: calc(150px);
}
.layer-top-cream1 {
  position: absolute;
  width: calc(75px);
  transform: skew(0deg, 18deg);
  border-radius: 0 0 78% 40%/0 0 92% 74%;
  height: calc(50px);
  top: 123px;
  left: 74px;
  background: #e5e7e5;
  z-index: 11;
}
.layer-top-cream2 {
  position: absolute;
  width: calc(75px);
  transform: skew(0deg, 18deg);
  border-radius: 0 0 78% 40%/0 0 92% 74%;
  height: calc(50px);
  top: 123px;
  left: 16px;
  background: #e5e7e5;
  z-index: 11;
}
.candle {
  top: calc(80px - 100px);
  left: calc(150px - 15px);
  z-index: 12;
  background: #bbbe64;
  width: 30px;
  height: 100px;
}
.candle:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: calc(33.333333333333336px);
  border-radius: 50%;
  background: #bbbe64;
  display: none;
}
.candle:before {
  content: "";
  position: absolute;
  background: #ffcb6a;
  width: calc(30px);
  height: calc(100px / 2);
  border-radius: 80%/70%;
  top: calc(-100px / 2);
  left: calc(50% - 15px);
  z-index: 15;
  box-shadow: 0px 0px 40px #fff, 0 0 75px #fff, 0 0 90px #fff, 0 0 100px #fff;
  animation: flame 3s infinite ease-in-out;
}
.cake {
  position: relative;
  top: 110px;
  width: 300px;
  margin: 0 auto;
}
.msg {
  position: absolute;
  top: calc(450px + 300px);
  font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
  font-size: 60px;
  text-align: center;
  color: #f2f7f2;
  width: 100%;
}
.msg p {
  margin: 0;
}
marquee {
  font-size: 20px;
  letter-spacing: 50px;
}
@-moz-keyframes flame {
  0%, 100% {
    transform: skewX(5deg);
    box-shadow: 0px 0px 40px #fff, 0 0 75px #fff, 0 0 90px #fff, 0 0 100px #fff;
  }
  25% {
    transform: skewX(-10deg);
    box-shadow: 0px 0px 40px #fff, 0 0 75px #ffa500, 0 0 90px #ffa500, 0 0 100px #fff;
  }
  50% {
    transform: skewX(15deg);
    box-shadow: 0px 0px 40px #ffa500, 0 0 75px #ffa500, 0 0 90px #000, 0 0 100px #fff;
  }
  75% {
    transform: skewX(-2deg);
    box-shadow: 0px 0px 40px #fff, 0 0 75px #fff, 0 0 90px #fff, 0 0 100px #000;
  }
}
@-webkit-keyframes flame {
  0%, 100% {
    transform: skewX(5deg);
    box-shadow: 0px 0px 40px #fff, 0 0 75px #fff, 0 0 90px #fff, 0 0 100px #fff;
  }
  25% {
    transform: skewX(-10deg);
    box-shadow: 0px 0px 40px #fff, 0 0 75px #ffa500, 0 0 90px #ffa500, 0 0 100px #fff;
  }
  50% {
    transform: skewX(15deg);
    box-shadow: 0px 0px 40px #ffa500, 0 0 75px #ffa500, 0 0 90px #000, 0 0 100px #fff;
  }
  75% {
    transform: skewX(-2deg);
    box-shadow: 0px 0px 40px #fff, 0 0 75px #fff, 0 0 90px #fff, 0 0 100px #000;
  }
}
@-o-keyframes flame {
  0%, 100% {
    transform: skewX(5deg);
    box-shadow: 0px 0px 40px #fff, 0 0 75px #fff, 0 0 90px #fff, 0 0 100px #fff;
  }
  25% {
    transform: skewX(-10deg);
    box-shadow: 0px 0px 40px #fff, 0 0 75px #ffa500, 0 0 90px #ffa500, 0 0 100px #fff;
  }
  50% {
    transform: skewX(15deg);
    box-shadow: 0px 0px 40px #ffa500, 0 0 75px #ffa500, 0 0 90px #000, 0 0 100px #fff;
  }
  75% {
    transform: skewX(-2deg);
    box-shadow: 0px 0px 40px #fff, 0 0 75px #fff, 0 0 90px #fff, 0 0 100px #000;
  }
}
@keyframes flame {
  0%, 100% {
    transform: skewX(5deg);
    box-shadow: 0px 0px 40px #fff, 0 0 75px #fff, 0 0 90px #fff, 0 0 100px #fff;
  }
  25% {
    transform: skewX(-10deg);
    box-shadow: 0px 0px 40px #fff, 0 0 75px #ffa500, 0 0 90px #ffa500, 0 0 100px #fff;
  }
  50% {
    transform: skewX(15deg);
    box-shadow: 0px 0px 40px #ffa500, 0 0 75px #ffa500, 0 0 90px #000, 0 0 100px #fff;
  }
  75% {
    transform: skewX(-2deg);
    box-shadow: 0px 0px 40px #fff, 0 0 75px #fff, 0 0 90px #fff, 0 0 100px #000;
  }
}



@keyframes swing {
  0%, 100% { transform: rotate(-30deg); }
  20% {transform:scale(.95);}
  50% { transform: rotate(30deg); }
  80% {transform:scale(.95);}
}


@keyframes swingReverse {
  0%, 100% { transform: rotate(30deg); }
  20% {transform:scale(.95);}
  50% { transform: rotate(-30deg); }
  80% {transform:scale(.95);}
}

.photoSwing {
  animation: swing 2s infinite ease-in-out;
  height: 225px;
  width: auto;
  border-radius: 24px;
  padding: 0 55px;
}

.photoSwingReverse {
  animation: swingReverse 2s infinite ease-in-out;
  height: 225px;
  width: auto;
  border-radius: 24px;
  padding: 0 55px;
}

.event{
  margin: 15px auto;
  text-align:center;
}

.gradient-heading {
  font-size: 69px;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(45deg,#006beb,#007f9f,#019c7c,#009f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  animation: gradient-text 4s ease infinite;
  
}
@-webkit-keyframes gradient-text {
  0% {
    background-position: 0% 50%;
  }
    50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}